//STYLES
//darkmode
$darkModeBgColor: #202d36;
$darkModeElementColor: #2b3743;
$darkModeText: hsl(0, 0%, 100%);
//lightmode
$lightModeBgColor: hsl(0, 0%, 98%);
$lightModeElementColor: hsl(0, 0%, 100%);
$lightModeText: hsl(200, 15%, 8%);

:root{
  --bg-color: #202d36;
  --element-bg-color: #2b3743;
  --text-color: hsl(0, 0%, 100%);
}
.dark-mode{
  --bg-color: hsl(0, 0%, 98%);
  --element-bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
}


$countriesFs: 14px;
$countryDetailFs: 16px;

@import "./index/index.scss";
@import "./index/header.scss";
@import "./index/search-filter.scss";

//Boilerplate
*, *::before, *::after{
  box-sizing: border-box;
}
//Sort responsive font-sizes!
html{
  font-size: 16px;
  @media (max-width: 576px) {
    font-size: 12px;
  }
}

#__next {
  background-color: var(--bg-color);
  //Fixes when content doest fill up the height of the page!
  min-height: 100vh;

  //Logic to sort all containers on the page!
  //Select all direct children of all the direct child elements
  & > * > * {
    padding: 0 5rem 0 5rem;
  }
  @media (max-width: 750px) {
    & > * > * {
      padding: 0 2rem 0 2rem;
    }
  }
}