@import "~bootstrap-icons/font/bootstrap-icons.scss";

.header-container{
    background-color: var(--element-bg-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05),
              4px 4px 4px rgba(0, 0, 0, 0.05),
              -4px 4px 4px rgba(0, 0, 0, 0.05);
    .header-content{
        color: var(--text-color);
        h1{
            font-weight: 800;
            font-size: 1.5rem;
            //To fix nunito sans weird line height
            padding-top: 0.1rem;
        }
        button{
            font-weight: 600;
            font-size: 1rem;
            color: var(--text-color);
            border:0;
            padding:0;
            &:hover{
                opacity: 0.5;
            }
        }
    }
}