$mwCountry: 16.5rem;

.countries-container {
  .countries-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;

    @media (max-width: 750px) {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }

    .country-link {
      background-color: var(--element-bg-color);
      width: 16.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05),
              4px 4px 4px rgba(0, 0, 0, 0.05),
              -4px 4px 4px rgba(0, 0, 0, 0.05);

      @media (max-width: 750px) {
        max-width: 33.125rem;
        width: 100%;
      }

      .country-container {
        width: 100%;
        .country-flag {
          width: 100%;
          //Fixes issue of images displaying container background color on some images.
          //This is due to next/image optimizations!
          //Unfortunately some of the flags are not displayed perfectly.
          object-fit: cover;
          object-position: center;

          @media (max-width: 750px) {
            height: auto;
          }
        }
        .text-container {
          color: var(--text-color);
          h2 {
            font-size: 1.125rem;
            font-weight: 800;
          }
          ul {
            font-size: 0.875rem;
            li {
              list-style-type: none;
            }
          }
        }
      }
    }
  }
}
