$mwCountry: 16.5rem;

.country-link{
    width: 16.5rem;
    background-color: grey;
    margin-bottom: 4.688rem;
    .country-container{
        width: 100%;
        .country-flag{
            width: 100%;
            //Fixes issue of images displaying container background color on some images.
            //This is due to next/image optimizations!
            //Unfortunately some of the flags are not displayed perfectly.
            object-fit: cover;
            object-position: center;
        }
    }   
}