@import "~bootstrap-icons/font/bootstrap-icons.scss";

.search-filter-container {
  .search-filter-content {
    color: var(--text-color);
    label{
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05),
              4px 4px 4px rgba(0, 0, 0, 0.05),
              -4px 4px 4px rgba(0, 0, 0, 0.05);
      max-width: 29.375rem;
      min-width: 11.375rem;
      width: 100%;
      background-color: var(--element-bg-color);
      #search-country {
        background-color: var(--element-bg-color);
        color: var(--text-color);
        font-weight: 300;
        border: 0;
        outline: 0;
        width: 100%;
        &::placeholder{
          opacity: 1;
          color: var(--text-color);
          font-weight: 300;
        }
        &:hover {
          //Reset bootstrap box-shadow
          box-shadow: none ;
        }
        &:focus {
          //Reset bootstrap box-shadow
          box-shadow: none;
        }
      }
      i{
        font-size:1rem;
      }
    }
    

    .region-dropdown{
      background-color: var(--element-bg-color);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05),
              4px 4px 4px rgba(0, 0, 0, 0.05),
              -4px 4px 4px rgba(0, 0, 0, 0.05);
      #region-dropdown-btn{
        width: 196px;
        border:0 !important;
        outline: none !important;
        color: var(--text-color);
        text-align: left;
        display: flex;
        align-items: center;
        &:after{
          display: block;
          margin-left: auto;
        }
        &:hover{
          border:0 !important;
          outline: none !important;
          box-shadow: none;
        }
        &:focus{
          border:0 !important;
          outline: none !important;
          box-shadow: none;
        }
      }
      #region-menu{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05),
              4px 4px 4px rgba(0, 0, 0, 0.05),
              -4px 4px 4px rgba(0, 0, 0, 0.05);
        background-color: var(--element-bg-color);
        border:0;
        outline: none;
        width: 196px;       
        li{
          button{
            color: var(--text-color);
            &:hover{
              background-color: var(--element-bg-color);
              opacity: 0.5;
            }
          }
        }
      }
      
    }
  }
}
